* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --verde-principal: #1abc9c;
  --verde-oscuro: #0d3d33;
  --gris-claro: #f4f9f7;
  --texto: #333;
  --radio: 10px;
}

body {
  display: flex;
  background-color:#c9f1e9;
  color: var(--texto);
}

.barra-lateral {
  background-color: var(--verde-oscuro);
  width: 70px;
  height: 58.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 10px;

}

.barra-lateral a {
  color: white;
  font-size: 30px;
}

.barra-lateral .casa {
  margin-top: 0px;
  margin-bottom: 30rem;
  font-size: 30px;
}

.barra-lateral a:hover {
  color: var(--verde-principal);
}

.encabezado {
  position: fixed;
  top: 0;
  left: 70px;
  right: 0;
  height: 70px;
  background-color: #c9f1e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-size: 20px;
}

.menu ul {
  display: flex;
  list-style: none;
  
}

.menu a {
  text-decoration: none;
  color: var(--texto);
  font-weight: bold;
}

.menu li {
  margin-left:  10rem;
}
.menu a:hover {
  color: var(--verde-principal);
}

.telefono {
  color: var(--verde-principal);
  font-weight: bold;
}

.contenedor {
  display: flex;
  margin-top: 100px;
  margin-left: 70px;
  width: 100%;
}

.contenedor-izq {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("dentista.jpg") center/cover ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 51.5rem;
  width: 50rem;
  padding: 50px;
}

.imagen-izq {
  max-width: 500px;
}

.imagen-izq h1 {
  font-size: 2.5rem;
  margin-bottom: 2px;
}

.imagen-izq h2 {
    font-size: 2.5rem;
    color: #08bd98;
}

.imagen-izq p {
  font-size: 0.95rem;
  margin-top: 15px;
  margin-bottom: 30px;
}

.botones .btn {
  border-radius: var(--radio);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transicion);
  font-size: 1.10rem;
}

.boton-book1 {
  background-color: var(--verde-principal);
  color: white;
  margin-right: 10px;
  border: 3px solid #08bd98;
  margin-bottom: 10px;
    padding: 10px 20px;
}

.boton-book:hover {
  background-color: #08bd98;
}

.boton-read {
  background: transparent;
  color: rgb(11, 230, 182);
border: 3px solid #08bd98;
  padding: 10px 20px;
}

.boton-read:hover {
  background-color: #464646bd;
}

.contenedor-der {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.formulario {
  background: white;
  padding: 50px;
  border-radius: 15px;
  height: 51.5rem;
  width: 50rem;
}

.formulario h2 {
  color: #08bd98;
  margin-bottom: 80px;
  text-align: center;
  font-size: 2.5rem;
}


label {
  color: #8a8181;
}

.fila {
  margin-bottom: 10px;
}

.fila-doble {
  display: flex;
  width: 500rem;
  margin-bottom: 20px;
  
}


.fila label, .campo label {
  display: block;
  font-weight: 500px;
}


.fila input, .campo input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 0.95rem;
  margin-bottom: 30px;
  background: #ddcfcf;
}

input:focus {
  border-color: #08bd98;
}

.campo {
  width: 22.5rem;
}

button.boton-book {
  display: block;
  width: 20%;
  background: #08bd98;
  color: white;
  padding: 8px;
  border-radius: 25px;
    border:#079e82;
  font-size: 1rem;
  cursor: pointer;
    margin-left: 18rem;
    margin-top: 5rem;


}

button.boton-book:hover {
  background: #079e82;
}

button.boton-book i {
  margin-left: 8px;
  vertical-align: middle;
}